@import "/src/assets/styles/variables.scss";

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  img.card__image {
    width: 230px;
    height: 260px;
    object-fit: cover;
    transition: 300ms ease;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }

  .card__name {
    margin-top: 8px;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;

    img.card__image {
      transform: translateY(-4px);
      box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3);
    }

    .card__name {
      color: $color-accent;
    }
  }
}
