@import "/src/assets/styles/variables.scss";

* {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;

  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  min-height: 100vh;

  color: $primary-color;
  background: $bg-color;
}

input,
button,
select {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
